
@{
    ViewBag.Title = "Devices";
}

<h2>Devices</h2>
<div id="AdminDevices">
    <a href="@Url.Action("RegisteredDevices", "Device")">Registered devices</a>
    <br />
    <a href="@Url.Action("AddNewDevice", "Device")">Add new device</a>
</div>

