
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<div id="AdminRegistrer">
    <a href="@Url.Action("Registration", "Auth")">Register new user</a>
    <br />
    <a href="@Url.Action("RegisterClient", "Auth")">Register new client</a>
</div>

